<h1>We Are Proud</h1>
<article>
<h3>Students & Alumni of Brandeis University</h3>
    The Brandeis Students and Alumni Association is a vibrant community that offers lifelong opportunities for students and alumni to stay connected to Brandeis and each other.
</article>